<br>
<br>
<div class="title-bar">
    Gaming - Store
  </div>
  <br>
  <br>
  <br>
  <section>
  
  <div class="wrap">
    <div class="thumbnail">
      <img src={{pic1}}/>
      <div class="overlay"><a href="#">Buy</a></div>
    </div>
    <div class="small-info">
      Xbox One
      <span class="pull-right">25,000 L.E</span>
    </div>
    
  </div>
    
  <div class="wrap">
    <div class="thumbnail">
        <img src={{pic2}}/>
        <div class="overlay"><a href="#">Buy</a></div>
    </div>
    <div class="small-info">
     Play Station 5
      <span class="pull-right">22,000 L.E</span>
    </div>
  </div>

  <div class="wrap">
    <div class="thumbnail">
        <img src={{pic3}}/>
        <div class="overlay"><a href="#">Buy</a></div>
    </div>
    <div class="small-info">
      Product 3
      <span class="pull-right">45,000 L.E</span>
    </div>
  </div>
    
  </section>